.grid {
    margin: 20px;
    background-color: transparent;
}

.grid th {
    padding: 1.05rem !important;
}

.actionBarWrap {
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.tableWrap {
    margin: 0 !important;
    padding: 0 !important;
    position: static !important;
    bottom: 0 !important;
}


.deleteButton {
    margin-left: 15px;
}

.header {
    background-color: white;
}

.gridToolBoxButtons {
    float: right;
}

.buttonWrap {
  text-align: right;
}

.buttonWrap > * {
  margin: 5px !important;
}

.standardFilter {
  width: 240px;
}

.customInput {
  width: 400px;
}

.doubleDateInput {
  float: right;
  display: flex;
  width: 460px !important;
  padding-left: 0 !important;
  margin-right: 0 !important;
  padding-right: 0 !important;
}

.doubleDateInput > div {
  padding-right: 10px;
}

/* batch styles */

.filterFloatLeft {
    float: left;
    width: 20%;
}

.filterFloatRight {
    float: right;
    width: 35%;
}

.sideMenuButtonsWrapper {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 80%;
}

.sideMenuButton {
    width: 100%;
    margin: 5px 0;
}

.filterCustomSearch{
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: auto;
    max-width: 420px;
    /*min-width: 350px;*/
    text-overflow: ellipsis;
    white-space: nowrap;
}

.filterWrap, .buttonWrap, .actionWrap {
    display: flex;
    width: auto;
    justify-content: flex-end;
}

.filterSeparated {
    margin-right: 20px;
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: auto;
    max-width: 240px;
    /*min-width: 190px;*/
    text-overflow: ellipsis;
    white-space: nowrap;
}

.actionSeparated {
    margin-right: 13px;
    float: left;
}

.clearFilterWrap {
    margin-left: 20px;
}

.inputWrapper {
    padding: 5px 0;
}

.inputWrapper:first-child {
    padding: 20px 0 5px 0;
}

.sideNote {
    width: 70%;
    color: #CCC;
    margin-left: auto;
}

.identityContainer {
    display: flex;
    height: 100%;
}

.customerProfileContainer {
    display: flex;
    flex: 1;
}

.container {
    display: flex;
    height: 100%;
    margin: 0 20px;
}

.wrapper {
  display: flex;
  margin-top: 10px;
  justify-content: space-around;
  cursor: default;
}

.box {
  height: 100%;
  display: flex;
  flex-basis: 49%;
  flex-direction: column;
  border: 1px solid #d6d6d6;
}

.header {
  border-bottom: 1px solid #d6d6d6;
  background: #f9f9f9;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 16px;
  color: #595959;
  padding: 20px;
}

.content {
  background: #fff;
  padding: 10px 20px;
  flex: 1;
  overflow-x: hidden;
}

.contentWrapper {
    flex: 1;
    display: flex;
    margin-right: 20px;
    flex-direction: column;
}

.inputOuterWrapper {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
}

.contentBox {
  padding: 10px 80px !important;
}

.contentBoxWrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.contentBoxWrapper:nth-child(1) {
    margin-right: 20px
}

.profileInformationWrapper {
    flex-basis: 45%;
    margin-right: 25px;
}

.datePickerWrapper {
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.datePickerWrapper .datePickerLabel {
    display: inline-block;
    width: 30%;
    font-size: 14px;
    color: #595959;
}

.datePickerWrapper .datePickerContainer {
    display: inline-block;
    width: 70%;
}

.radioWrapper {
    padding: 10px 0;
}

.noResultsMessage {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: space-around;
  color: #565656;
  font-size: 20px;
}

.rolesWrapper {
  display: flex;
  flex-direction: row;
  padding: 10px 0;
}

.rolesLabel {
  flex-basis: 30%;
}

.assignedRole {
  flex-basis: 70%;
}

/*Images styles*/
.imagesContainer {
    display: flex;
    flex-basis: 250px;
    flex-direction: column;
    align-items: center;
}

.preview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #FFF;
    cursor: pointer;
}

.previewBig {
    composes: preview;
    width: 190px;
    height: 190px;
}

.previewSmall {
    composes: preview;
    width: 190px;
    height: 130px;
}

.profileInformationWrapper {
    flex-basis: 45%;
    margin-right: 20px;
}

.datePickerWrapper {
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.datePickerWrapper .datePickerLabel {
    display: inline-block;
    width: 30%;
    font-size: 14px;
    color: #595959;
}

.datePickerWrapper .datePickerContainer {
    display: inline-block;
    width: 70%;
}

.radioWrapper {
    padding: 10px 0;
}

.imageWrapper {
    padding: 0 20px 20px 20px;
}

.statusWrapper {
    text-align: center;
    background-color: #00A44D;
    color: #fff;
    width: 50%;
    margin: 0 auto;
    border-radius: 5px;
    margin-top: 10px;
    text-transform: uppercase;
}

/* Contact Info Tab styles*/
.contactInfoWrapperInner {
    padding: 15px;
}

.boxWrapper {
    display: block;
    padding: 13px;
}
.contactInfoWrapper {
    width: 100%;
    height: 100%;
}

.mainWrap {
    margin: 0 auto;
    margin-bottom: 40px;
}

.customSearchDropdown {
    float: left;
    width: 40%;
    background-color: #F4F4F4;
}
.customSearchDropdown svg {
    background-color: transparent;
    fill: #000 !important;
}
.customSearchTextField {
    float: left;
    width: 60%;
}
.pagination {
    position: fixed;
    bottom: 0px;
    width: 100%;
}
.filter {
    float: right;
    min-Width: 250px;
    margin-Left: 10px;
    margin-Bottom: 23px;
}
.contentTableWrapper{
    height: auto !important;
    padding: 13px;
}
.clearFilter {
    float: right;
    padding-Left: 20px;
}

.uploadForm {
    width: 500px;
    margin: 0 auto;
}

.uploadForm .errorMessage {
    margin-top: 10px;
    text-align: center;
    color: red;
}

.uploadForm .successMessage {
    margin-top: 10px;
    text-align: center;
    color: green;
}

.footer {
  justify-content: flex-end;
}

.footer button {
  margin-right: 10px;
}

.inputWrapClassName {
  width: 100%
}

.row {
  margin-top: 10px;
  display: flex;
}

.flexBasis {
  flex-basis: 600px;
}

.buttonsInnerWrapper {
    position: absolute;
    height: 30px; 
}
.buttonsWrapper {
    display: inline-block;
    position: relative;
    top: 1px;
    margin-top: 0px;
    height: 30px;
    vertical-align: top;
}

.replaceBtn {
    background-color: #d4d8dd;
    padding: 8px;
    cursor: pointer;
    color: #595959;
    margin: 0;
    border-right: 1px solid #f5f5f5;
}

.downloadBtn {
  background-color: #d4d8dd;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  padding: 8px;
  cursor: pointer;
  color: #595959;
  margin: 0;
}

.fileInput {
  margin: 0 auto;
  margin-top: 20px;
  width: 400px;
}

.fileInput input[type="file"] {
    display: none;
}

.infoInputWrapper {
    margin-top: 10px;
    width: 328px;
    display: inline-block;
    vertical-align: top;
}

.dateInputWrapper {
    width: 480px;
    display: inline-block;
    vertical-align: top;
}

.dateInputWrapper input {
    color: #595959 !important;
}

.dateInputWrapper input:disabled {
    color: #a9a9a9 !important;
}

.label {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-right: 90px;
  color: #595959;
}

.inputDisplay {
  display: none;
}

.outerStatus {
  text-align: center;
  margin-bottom: 20px;
}

.innerStatusSign {
  font-family: Roboto;
  padding: 5px;
  background: #546684;
  border-radius: 3px;
  border-style: solid;
  border-color: #546684;
  color: white;
  font-size: 14px;
  margin-left: 10px;
  padding: 3px 6px;
}

.innerStatusLabel {
  font-size: 16px;
}


.uploadForm .errorMessage {
    margin-top: 10px;
    text-align: center;
    color: red;
}

.uploadForm .successMessage {
    margin-top: 10px;
    text-align: center;
    color: green;
}

.fileInput {
  margin: 0 auto;
  width: 400px;
}

.fileInput input[type="file"] {
    display: none;
}

.infoInputWrapper {
    margin-top: 10px;
    width: 333px;
    display: inline-block;
    vertical-align: top;
}


.inputWrapClassName {
  padding-left: 20px;
  text-align: center;
}

.footer {
  justify-content: flex-end;
}

.footer button {
  margin-left: 10px;
}

.buttonsInnerWrapper {
    position: absolute;
    height: 30px; 
}
.buttonsWrapper {
    display: inline-block;
    position: relative;
    top: 1px;
    margin-top: 0px;
    height: 30px;
    vertical-align: top;
}
.browseBtn {
    margin-top: 9px !important;
    background-color: #d4d8dd;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 4.5px;
    cursor: pointer;
    color: #595959;
}
