.row {
    display: flex;
    justify-content: space-between;
}

.halfWidth {
    display: inline-block;
    width: 49%;
}

.rowPaddings {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.borderBottom {
    border-bottom: 2px solid #E6E6E6;;
}

.contentBoxesWrapper {
    margin: 20px;
}

.contentBoxesWrapper > div {
    margin-bottom: 20px;
}

.contentBoxColumn {
    display: flex;
    width: 50%;
    margin: 10px;
}